body {
  background-color: #000814;
  height: 110vh;
  display: flex;
}

p {
  line-height: 0px;
}

.container {
  width: 1024px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider {
  display: flex;
}

.form-range {
  opacity: 0.7;
  transition: 0.5s;
  margin-right: 10px;
}

.form-range:hover {
  opacity: 1;
}

#box {
  padding: 20px;
  background-color: white;
  width: 300px;
  height: 400px;
  border-radius: 7px;
}




