body {
  background-color: #000814;
  height: 110vh;
  display: flex;
  padding: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;;
}

p {
  line-height: 0px;
}

.container {
  width: 1024px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slider {
  display: flex;
}

.form-range {
  opacity: 0.7;
  transition: 0.5s;
  margin-right: 10px;
}

.form-range:hover {
  opacity: 1;
}

#image {
  background-image: url(../assets/questao.png);
  background-size: contain;
  border-radius: 7px;
  width: 300px;
  height: 300px;
}

#box {
  padding: 20px;
  background-color: white;
  width: 35%;
  overflow: scroll;
  height: 500px;
  border-radius: 7px;
}

#question {
  background-color: black; 
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  height: 450px;
}

.row {
  width: 100%;
  /* background-color: blue; */
}

.row1 {
  height: 30%;
  /* background-color: green; */
  display: flex;
  position: relative;
}

.row2 {
  height: 60%;
  /* background-color: blueviolet; */
  display: flex;

}

#braco {
  width: 65%;
  height: 10%;
  /* background-color: blue; */
  border: 2px solid white; 
  position: absolute;
  top: calc(100% - 12%);
  z-index: 0; 
  left: calc(50% - 25%);
  transition: 1.5s;
  transform-origin: 35%;
  background-image: url("../assets/braco.png");
  background-size: contain;
  background-position: center;
}


#base {
  width: 4.5%;
  position: relative;
  left: calc(50% - 10%);
  height: 100%;
  background-image: url("../assets/base.png");
  background-size: cover;
  background-position: center;
}

#contrapeso {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(7, 255, 147);
  z-index: 2;
  font-size: 10px;
  font-weight: bolder;
  position: relative;
  left: 40%;
  top: -1%;
  animation: brilho 1.4s infinite alternate-reverse;
} 

@keyframes brilho {
  from {
    -webkit-box-shadow: 0px 0px 15px 7px rgba(7,255,147,0); 
    box-shadow: 0px 0px 15px 7px rgba(7,255,147,0);
  }

  to {
    -webkit-box-shadow: 0px 0px 15px 7px rgba(7,255,147,0.57); 
    box-shadow: 0px 0px 15px 7px rgba(7,255,147,0.57);
  }

}

#pontoA {
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  z-index: 3;
  position: relative;
  top: calc(100% - 30px);
  left: 55%;
  text-align: center;
}

#pontoB {
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 49%;
  text-align: center;
}

#pontoC {
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 25%;
  text-align: center;
}

#pontoD {
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  z-index: 5;
  position: relative;
  top: 60%;
  left: 85%;
  text-align: center;
}

#guincho {
  z-index: 4;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  position: relative;
  left: 40%;
  text-align: center;
}

#btn-box {
  background-color: white;
  position: sticky;
  top: -2px;
  z-index: 1; 
  height: 50px;
}

button {
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: #07ff93;
  border: none;
  font-size: 20px;
  border-radius: 7px;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: #026b3d;
}

#torque {
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}